body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 10px;
    
}
.first{
   background-color: #008000;
   border-radius: 10px;
   padding: 25px;
   margin-bottom: 10px;
   margin-top: 20px;
   width: 500px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.first img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px;
}
.second{
    background-color:blue;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 10px;
    width: 500px;
    height: 100px;
     margin-left: 20px;
    margin-right: 20px;

}
.third{
    background-color: yellow;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 10px;
    width: 500px;
    height: 100px;
     margin-left: 20px;
    margin-right: 20px;
}
.four{
    background-color: darkmagenta;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 10px;
    width: 500px;
    height: 50px;
     margin-left: 20px;
    margin-right: 20px;
}
.five{
    background-color: orangered;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
    width: 500px;
    height: 10px;
     margin-left: 20px;
    margin-right: 20px;

}
.zero{
    width:600px;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}